
# History #
###########
.node_repl_history

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs & Databases #
####################
logs
*.log
npm-debug.log*
*.sql
*.sqlite

# Os Generated #
################
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db.

# Compiled #
############
/temp/**/*
/tmp/**/*
/dist/**/*
/build/**/*
*.css.map

# Structure #
#############
node_modules/
/tasks/**/*
bower_components/
.sass-cache

# Node Cache #
##############
.npm
/gulpfile.js~
/readme.md~
